p {
    background-color: rgb(13, 242, 219);
}

a {
    background-color: rgb(98, 100, 109);
}

div {
    background-color: rgba(219, 27, 206, 0.926);
}

span {
    background-color: rgb(113, 37, 189);
}